<!DOCTYPE html>
<html>
<head>
  <title>New York City Taxi Data</title>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.1.min.css" type="text/css" />
  <link rel="stylesheet" href="static/leaflet.awesome-markers.css">
  <script>L_DISABLE_3D = true;</script>
  <script src="https://use.fontawesome.com/76435eb78f.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.1.min.js"></script>
  <style>
      #mapid {height: 700px} 

      .modal {
          display:    none;
          position:   fixed;
          z-index:    1000;
          top:        0;
          left:       0;
          height:     100%;
          width:      100%;
          background: rgba( 255, 255, 255, 0 ) 
                      url('static/ajax-loader.gif') 
                      50% 50% 
                      no-repeat;
      }

      body.loading .modal {
          display: block;
      }

  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid" style = "width: 95%">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">NYC Taxi Data</p>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  </div>
</nav>

{% from "_formhelpers.html" import render_field %}

<div class='container-fluid' style="width:95%">
  <div class='row'>
    
  <div class="col-md-2" > 
    <h4>Select Start Point </h4><br> 
    
    {{ form.hidden_tag() }}

     <br> {{ render_field(form.neighborhood, class_="form-control") }}
     <br> {{ render_field(form.blocks, class_="form-control") }} 
     <br><hr><br>
     <span id='infotext'></span>
      

    </div>
  <div class="col-md-4" style="border-left: 1px solid #333; border-right: 1px solid #333;">
    <span><h4>Trips by Hour</h4></span>
    <hr>
    <div id="bokeh-bar"></div>
    <span><h4>Trips by Month</h4></span>
    <hr>
    <div id="bokeh-line"></div>
  </div>
  <div class="col-md-6">
    <span><h4>Top 10 Routes</h4></span>
    <hr>
    <div id='mapid'></div>
  </div>
  </div>
</div>
<div class="modal"><!-- Place at bottom of page --></div>

</body>

 <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
 <script src="static/leaflet.awesome-markers.js"></script>
 
<script type="text/javascript" src="static/map.js"></script>

</html>
